.profile-picture{
    width: 300px;
    height: auto;
}

.fab{
    font-size:32px;
}

.copyright {
    font-size:16px;
    color: #fff !important;
}

a {
    color: #222 !important;
}

a:hover > i { color: #3b5998; }